<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>3</title>
</head>
<body>
<a href="/users">Return main page</a>
<br>
<form th:method="PATCH" th:action="@{/users/{id}(id=${users.getId()})}" th:object="${users}">
    <label for="name">Enter name : </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastname">Enter lastname : </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br>
    <input type="submit" value="Update user"/>
</form>
</body>
</html>